.mainNav {
  position: relative;
  background-color: $topNav-background;
  color: $color-white;
  &__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    &--item {
      padding: 15px 25px;
      &:hover {
        background-color: $color-white;
        color: $color-white;
        cursor: pointer;
      }
    }
    .active {
      background-color: darken($topNav-background, 5%);
    }
  }
  &__description {
    position: absolute;
    top: 52px;
    background: darken($topNav-background, 5%);
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.678);
    ul {
      list-style: none;
      li {
        padding: 5px;
        text-transform: capitalize;
        a:link,
        a:visited {
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
