.parallax {
  height: 251px;
  //   border: 1px solid red;
  background-size: cover;
  background-attachment: fixed;
  //   clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);

  h3 {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: $topNav-background;
    text-shadow: 0px 1px 9px rgba(150, 150, 150, 0.35);
  }

  h5 {
    word-spacing: 5px;
    line-height: 35px;
    text-align: center;
    // color: invert($color-skyblue);
    color: $topNav-background;
    text-shadow: 0px 1px 9px rgba(150, 150, 150, 0.35);
  }

  button {
    display: flex;
    margin: auto;
    border: 0px;
    padding: 10px 25px;
    background-color: $topNav-background;
    color: $color-white;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;

    &:hover {
      background-color: lighten($topNav-background, 5%);
      transition: all 0.2s;
      transform: translateY(-5%);
      box-shadow: 2px 4px 60px rgba(0, 0, 0, 0.5);
    }
  }
}
