* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.top-nav {
  background-color: #004570; }
  .top-nav__list {
    list-style: none;
    margin: auto 0px;
    padding: 5px 0px; }
    .top-nav__list--list-item {
      padding: 0 15px; }
      .top-nav__list--list-item a {
        display: flex; }
        .top-nav__list--list-item a span {
          padding-right: 5px;
          margin-top: 6px; }
      .top-nav__list--list-item a:link,
      .top-nav__list--list-item a:visited {
        color: whitesmoke; }
      .top-nav__list--list-item a:hover {
        text-decoration: none;
        color: #cfcfcf; }

.mainNav {
  position: relative;
  background-color: #004570;
  color: whitesmoke; }
  .mainNav__list {
    display: flex;
    list-style: none;
    justify-content: space-around; }
    .mainNav__list--item {
      padding: 15px 25px; }
      .mainNav__list--item:hover {
        background-color: whitesmoke;
        color: whitesmoke;
        cursor: pointer; }
    .mainNav__list .active {
      background-color: #003557; }
  .mainNav__description {
    position: absolute;
    top: 52px;
    background: #003557;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.678); }
    .mainNav__description ul {
      list-style: none; }
      .mainNav__description ul li {
        padding: 5px;
        text-transform: capitalize; }
        .mainNav__description ul li a:link,
        .mainNav__description ul li a:visited {
          color: white; }

.parallax {
  height: 251px;
  background-size: cover;
  background-attachment: fixed; }
  .parallax h3 {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #004570;
    text-shadow: 0px 1px 9px rgba(150, 150, 150, 0.35); }
  .parallax h5 {
    word-spacing: 5px;
    line-height: 35px;
    text-align: center;
    color: #004570;
    text-shadow: 0px 1px 9px rgba(150, 150, 150, 0.35); }

.border-diamond {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #202020;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px; }
  .border-diamond__diamond {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-45%);
    font-size: 30px; }
